@media only screen and (max-width:1300px) {

    header,
    .black,
    .over-black,
    .bg-image,
    .end-container__form {
        background: #181818;
    }

    .white-container__cards,
    .over-black-container__form__first-line,
    .our-clients-container__cards,
    .bg-image-container {
        flex-direction: column;
    }

    .nav,
    .header__content>button,
    footer,
    .black-container__content__right,
    .our-clients,
    .white-second-container,
    .arrows {
        display: none;
    }

    .black-container__content__left>p,
    .over-black-container>p,
    .black-container__content__left__cards__card>p {
        font-size: 11px;
    }

    .black-container__content__left__cards__card>h3 {
        font-size: 14px;
    }

    .subtitle,
    .bg-image-container__text>h2 {
        font-size: 22px;
    }

    .container,
    .header__content,
    .hero-container,
    .hero-container>button,
    .over-black-container>p,
    .over-black-container__form,
    .over-black-container__form__first-line>button,
    .over-black-container__form__first-line__input,
    .over-black-container__videoplayer,
    .black-container__content__left__album>img,
    .black-container__content__left,
    .bg-image-container__album>img,
    .end-container__form,
    .end-container__form>button,
    .end-container__form__first-line__input,
    .end-container__form__first-line,
    .end-container__form__second-line,
    .end-container>h2,
    .end-container__info>h2,
    .end-container__img-map>img {
        width: 100%;
    }

    .input {
        color: white;
    }

    .container {
        padding: 0 1em;
    }

    .header__content,
    .hero-container {
        padding: 0;
    }

    .header__content {
        height: 57px;
    }

    .header__content>a {
        color: white;
        text-decoration: none;
    }

    .hero {
        height: 100%;
        padding-top: 5em;
        padding-bottom: 4em;
    }

    .hero-container>h1 {
        font-size: 23px;
        line-height: 132.825%;
        width: 90%;
    }

    .hero-container>p {
        font-size: 14px;
        line-height: 135.84%;
        margin-bottom: 3.7em;
        margin-top: 1.5em;
    }

    .hero-container__button {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }

    .hero-container__button--opacity {
        margin-left: 0;
        margin-top: 2.5em;
    }

    .black-container,
    .over-black-container {
        margin-bottom: 0;
    }

    .black-container__content__left__title {
        font-size: 22px;
        width: 60%;
        margin-bottom: .5em;
    }

    .black-container__content__left__text {
        margin: 1em 0 2em;
    }

    .black-container__content__left {
        padding-top: 2em;
    }

    .black-container__content__left>p {
        width: 90%;
    }

    .black-container__content__left__album {
        margin-top: 3em;
        margin-bottom: 1em;
    }

    .black-container__content__left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .black-container__content__left__title,
    .black-container__content__left__text {
        text-align: center;
    }

    .album {
        display: flex;
        position: relative;
    }

    .album-arrows {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 0 1em;
    }

    .album-arrows__item {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto 0;
    }

    .black-container__content__left__cards {
        margin-bottom: 2em;
        grid-template-columns: 10em 12em;
        align-self: start;
    }

    .over-black-container {
        margin-top: 0;
    }

    .over-black-container>hr {
        width: 15%;
        border: 1px solid #E3B873;
    }

    .over-black-container__icon {
        margin-top: 1em;
    }

    .over-black-container__videoplayer {
        margin-bottom: 1.5em;
        height: auto;
    }

    .over-black-container__videoplayer>img {
        object-fit: fill;
    }

    .over-black-container__videoplayer__play>img {
        width: 50%;
    }

    .over-black-container__videoplayer__play>button {
        padding: 2em;
    }

    .over-black-container__form {
        margin: 2em 0;
    }

    .over-black-container__form__second-line {
        display: none;
    }

    .label-mobile {
        display: flex;
        color: rgba(255, 255, 255, 0.50);
    }

    .over-black-container__form__first-line>.over-black-container__form__first-line__input:nth-child(1) {
        margin-top: 2em;
    }

    .over-black-container__form__first-line>.over-black-container__form__first-line__input:nth-child(2) {
        margin-top: 3.5em;
    }

    .over-black-container__form__first-line>label {
        margin: 1.5em 0 3em;
        line-height: 163.68%;
    }

    .over-black-container__form__first-line>button {
        margin-bottom: -6em;
    }

    .over-black-container__form__first-line__input>label {
        color: rgba(255, 255, 255, 0.50);
    }

    .over-black-container__form__first-line__input>input {
        background: transparent;
    }

    .over-black-container__form__first-line__input>input::placeholder {
        color: rgba(255, 255, 255, 1);
        opacity: 1;
    }

    .label-mobile,
    .over-black-container>p {
        color: white;
    }


    .white {
        padding: 4em 1em 0 1em;
    }

    .white-container {
        padding-bottom: 10.5em;
    }

    .white-container__cards {
        align-items: center;
    }

    .white-container__cards__card {
        width: 22em;
        justify-content: flex-start;
        padding-bottom: 6em;
        margin-bottom: 8.5em;
    }

    .white-container__cards__card__content__list {
        width: 17em;
        margin-top: 14.5em;
        padding: 1em 2em 2em 2em;
    }

    .white-container__cards__card__content__list>ul {
        line-height: 169.8%;
    }

    .white-container__cards__card__content__list>h3,
    .white-container__cards__card__content__button>button>span {
        font-size: 15px;
    }

    .white-container__cards__card__content__button>button {
        height: 2.5em;
    }

    .bg-image-container {
        align-items: center;
    }

    .bg-image__overlay {
        display: none;
    }

    .bg-image-container__text {
        margin-top: -13em;
        margin-right: 0;
    }

    .bg-image-container__text__list,
    .bg-image-container__images {
        display: none;
    }

    .bg-image-container__text {
        width: auto;
    }

    .bg-image-container__text>h2 {
        width: 80%;
        align-self: center;
        text-align: center;
        line-height: 138.6%
    }

    .bg-image-container__album {
        display: flex;
        margin-bottom: 1em;
    }

    .end-container__form {
        margin-top: 0;
        align-items: flex-start;
        padding: 1em 0 1.5em;
        row-gap: 0;
    }

    .end-container__form>h2 {
        align-self: center;
    }

    .end-container__form>label {
        margin: 0;
    }

    .end-container__form>button {
        margin: 0;
    }

    .end-container__form__first-line {
        flex-direction: column;
        row-gap: 3.5em;
        margin-top: 2em;
    }

    .end-container__form__second-line {
        margin: 3.5em 0 1em;
    }

    .end-container__form>button {
        margin: 5em 0 0;
    }

    .end-container {
        padding: 0 1em;
    }

    .end::before {
        content: "";
        top: 0;
        left: 0;
        background-color: #181818;
        background-image: none;
    }

    .end-container__info {
        order: 2;
    }

    .end-container__img-map {
        order: 1;
    }

    .end-container__info__social {
        width: 7em;
    }

    .end-container__info__social>.yellow-circle {
        padding: 0.8em;
    }

}
