/* @media only screen and (min-width:375px){

}

@media only screen and (min-width:1440px){

}

@media only screen and (min-width:2500px){
    body {
        font-family: Nunito Sans, Arial;
        font-weight: 400;
    }
} */


body {
    margin: 0;
    font-family: Nunito Sans, Arial;
    font-weight: 300;
    /* для экрана больше 1440px */
    /* @media only screen and (min-width: 1480px) {
        font-weight: 400;
    } */
}

body * {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1250px;
    /* для экрана не более 375px */
    /* @media only screen and (max-width: 375px) {
        max-width: 375px;
    }
    @media only screen and (min-width: 1480px) {
        max-width: 1440px;
    } */
}

.subtitle {
    color: #181818;
    font-family: Yeseva One;
    font-size: 20px;
    text-transform: uppercase;
}

.title {
    color: #E3B873;
    font-family: Yeseva One, 'Times New Roman', Times, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
    line-height: 53px;
    text-transform: uppercase;
    margin: 0;
}

.input {
    border: none;
    border-bottom: 1px solid black;
    position: relative;
    top: 0.2em;
    /* margin-left: -0.5em; */
}

.label {
    font-size: 13px;
    color: rgba(54, 54, 54, 0.50);
}

.button {
    border-radius: 2px;
    background: #E3B873;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.20);
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
}


/* header */

header {
    background-color: black;
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

.logo {
    color: #E3B873;
    font-size: 11px;
    text-transform: uppercase;
    /* font-style: normal;
    font-weight: 400; */
}

/* .f-11-400 {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
} */

.header-navigation {
    list-style: none;
    display: flex;
}

.header-navigation__item {
    margin-right: 47px;
}

.header-navigation__item a {
    text-decoration: none;
    color: white;
    font-size: 11px;
}

.header-navigation__item a:hover {
    color: #E3B873;
}


/* first (hero) section */

.hero {
    background-image: url('../images/hero.jpg');
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}

.hero-overlay, .bg-image-overlay{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.hero-container, .bg-image-container {
    position: relative;
    z-index: 1;
}

.hero-container, .black-container {
    padding-left: 2em;
}

.hero-container > p {
    color: white;
    width: 40%;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%;
    margin-bottom: 1.5em;
}

.hero-btn {
    font-style: italic;
    font-size: 11px;
}

.hero-btn-second {
    border: 1px white solid;
    box-shadow: none;
    margin-left: 20px;
    background-color: rgba(0,0,0,0);
}



/* section of complited projects (black) */

.black {
    background-color: black;
    color: white;
}

.black-container {
    padding-top: 6.5em;
    padding-bottom: 27em;
    margin-bottom: 50px;
}

.black-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 45px;
    margin-right: 4em;
}

.black-list__item > a {
    margin-right: 60px;
    color: rgba(255, 255, 255, 0.30);
    text-decoration: none;
    font-size: 14px;
}

.black-list__item > a:hover {
    color: #E3B873;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.black-content {
    display: flex;
    justify-content: space-between;
}

.black-content > img {
    margin-right: 2.5em;
}

.black-content-text {
    font-size: 14px;
    line-height: 190%;
    margin-bottom: 42px;
}


.black-cards {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 100px 100px;
    margin-bottom: 3.5em;
}

.black-card > h3 {
    font-size: 18px;
}

.black-card > span {
    font-size: 14px;
    line-height: 163%;
}

.black-content-title {
    width: 253px;
    font-size: 27px;
    line-height: 138%;
    margin-bottom: 1em;
}

.black-content-box {
    width: 442px;
}


/* over-back section */

/* .over-back {

} */

.over-back-container {
    margin-top: -28%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 8em;
}

.over-back-container > p {
    width: 685px;
    font-size: 18px;
    color: #363636;
    line-height: 204.6%;
    text-align: center;
}

.over-back-container > hr {
    width: 5%;
}

.over-back-container > img {
    margin-top: 2em;
    margin-bottom: 3.5em;
}

.over-back-form {
    width: 63%;
    margin-top: 5em;
}

.over-back-form__first_line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2em;
}

.over-back-form__first_line > label > input {
    width: 100%;
}

.over-back-form__first_line > button {
    width: 26%;
}

.over-back-form__second_line {
    display: flex;
    justify-content: center;
    font-size: 14px;
}



/* white container */

.white-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 18em;
}


.white-container-cards {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    width: 100%;
    justify-content: space-between;
}

.white-container-cards__item {
    margin-bottom: 8em;
    width: 31%;
    padding-bottom: 8em;
    display: flex;
    justify-content: center;
}

.white-container-cards__item-content {
    height: 20em;
}

.white-container-cards__item-content-list {
    background-color: white;
    margin-top: 18em;
    padding: 2em;
    box-shadow: 0px 0px 38px 0px black;
    width: 20em;
}

.white-container-cards__item-content-list > h3 {
    text-transform: capitalize;
    margin: 0em;
}

.white-container-cards__item-content-list > ul {
    color: #959595;
    font-size: 13px;
    line-height: 204.6%;
    padding-left: 1em;
}


.white-container-cards__item-content-button {
    margin-top: -7%;
}

.white-container-cards__item-content-button > button {
    width: 70%;
    height: 4em;
    font-size: 16px;
    padding: 0;
}

.white-container-cards__item-content-button > button > span {

    color: white;
}

.white-container-cards__item:nth-child(1) {
    background: url('../images/card_dedecorating.jpg') no-repeat;
}
.white-container-cards__item:nth-child(2) {
    background: url('../images/card_overhaul.jpg') no-repeat;
}
.white-container-cards__item:nth-child(3) {
    background: url('../images/card_designer_repair.jpg') no-repeat;
}



.white-second-container {
    background: url('../images/bg-white-section.jpg') no-repeat;
    background-position: left -15% top -25%;
     margin-bottom: 15em;

}

.white-second-container > .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.white-second-container-content {
    display: flex;
    flex-direction: column;
    row-gap: 5em;
    margin-left: 8em;
    margin-right: 3em;
    width: 40em;
}

.white-second-container__right {
    margin-left: 10em;
    width: 50em;
}

.white-second-container__right-form {
    background-color: black;
    color: white;
    padding: 1em 3em;
    display: flex;
    flex-direction: column;
    row-gap: .7em;
    margin-bottom: 4em;
}

.white-second-container__right-form > hr {
    background: rgba(255, 255, 255, 0.15);
    width: 100%;
}

.white-second-container__right-form > p {
    font-size: 18px;
    word-wrap: break-word;
    width: 60%;
    align-self: center;
    text-align: center;
}

.white-second-container__right-form > input {
    background: transparent;
    color: white;
}

.white-second-container__right-form > label {
    color: rgba(255, 255, 255, 0.50);
}


.white-second-container__right-form > button {
    align-self: flex-end;
}

.white-second-container-content__item {
    display: flex;
    flex-direction: row;
    column-gap: 2em;
    align-items: center;
}

/* .white-second-container-content__item > * {

} */

.white-second-container-content__item > p {
    font-size: 14px;
}


.yellow-circle {
    display: inline-flex;
    background: #E3B873;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.circle {
    color: white;
    padding: .6em;
    border: 8px solid white;
    box-shadow: 0px 5px 15px 0px rgba(227,184,115, 0.15);
    font-size: 20px;
    line-height: 100%;
    font-weight: bold;
}


.pig {
    height: 72px;
    width: 72px;
}



.bg-image {
    position: relative;
    background: url('../images/hall.jpg') no-repeat;
}

/* .bg-image:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, .5);
} */

.bg-image-container {
    display: flex;
    flex-direction: row;
    z-index: 1;
    justify-content: space-between;
}

.bg-image-container > * {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}

.bg-image-container > div:nth-child(2) {
    margin-top: -5%;
    margin-bottom: -5%;
    row-gap: 2em;
}

.bg-image-container > div:nth-child(3) {
    margin-top: -10%;
    margin-bottom: -5%;
    row-gap: 2em;
}

.bg-image-container-content-text {
    justify-content: center;
}

.bg-image-container-content-text > h3 {
    font-size: 18px;
}

.bg-image-container-content-text > ul {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    color: white;
}

.bg-image-container-content-text > ul > li:hover {
    color:#E3B873;
}

/* colors */

.c-white {
    color: white;
}

.white-text {
    color: white;
}



.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}