/* @media only screen and (min-width:375px){

}

@media only screen and (min-width:1440px){

}

@media only screen and (min-width:2500px){
    body {
        font-family: Nunito Sans, Arial;
        font-weight: 400;
    }
} */


body {
    margin: 0;
    font-family: Nunito Sans, Arial;
    font-weight: 300;
    /* для экрана больше 1440px */
    @media only screen and (min-width: 1480px) {
        font-weight: 400;
    }
}

body * {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1250px;
    /* для экрана не более 375px */
    @media only screen and (max-width: 375px) {
        max-width: 375px;
    }
    @media only screen and (min-width: 1480px) {
        max-width: 1440px;
    }
}

.subtitle {
    color: #181818;
    font-family: Yeseva One;
    font-size: 20px;
    text-transform: uppercase;
}



header {
    background-color: black;
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

.f-11-400 {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
}

.header-navigation {
    list-style: none;
    display: flex;
}

.header-navigation__item {
    margin-right: 47px;
}

.header-navigation__item a {
    text-decoration: none;
    color: white;
}


.button {
    border-radius: 2px;
    background: #E3B873;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.20);
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
}

.hero {
    background-image: url('../images/hero.jpg');
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}

.hero-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.hero-container {
    position: relative;
    z-index: 1;
}

.hero-p {
    color: white;
    width: 504px;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%; /* 36.01px */
}

.hero-btn {
    font-style: italic;
}

.hero-btn-second {
    border: 1px white solid;
    box-shadow: none;
    margin-left: 20px;
}

.bg-opacity {
    background-color: rgba(0,0,0,0);
}



.title {
    color: #E3B873;
    font-family: Yeseva One, 'Times New Roman', Times, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
    line-height: 53px;
    text-transform: uppercase;
    margin: 0;
}



.input {
    border: none;
    border-bottom: 1px solid black;
}


/* section of complited projects */

.black {
    background-color: black;
    color: white;
}

.black-container {
    padding-top: 107px;
    padding-bottom: 414px;
    margin-bottom: 50px;
}

.black-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 45px;
}

.black-list__item > a {
    margin-right: 60px;
    color: rgba(255, 255, 255, 0.30);
    text-decoration: none;
    font-size: 14px;
}

.black-list__item > a:hover {
    color: #E3B873;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.black-content {
    display: flex;
    justify-content: space-between;
}

.black-content-text {
    font-size: 14px;
    line-height: 190%;
    margin-bottom: 42px;
}


.black-cards {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 100px 100px;
}

.black-card > h3 {
    font-size: 18px;
}

.black-card > span {
    font-size: 14px;
    line-height: 163%;
}

.black-content-title {
    width: 253px;
    font-size: 27px;
    line-height: 138%;
}

.black-content-box {
    width: 442px;
}

/* .over-back {

} */

.over-back-container {
    margin-top: -30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.over-back-container > p {
    width: 685px;
    font-size: 18px;
    color: #363636;
    line-height: 204.6%;
    text-align: center;
}



/* .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.text-center {
    text-align: center;
}

label {
    font-size: 13px;
    color: rgba(54, 54, 54, 0.50);
    /* position: absolute; */
    /* top: -10px;
    left: 10px; */
}


/* colors */
.logo {
    color: #E3B873;
}

.c-white {
    color: white;
}

.white-text {
    color: white;
}

input {
    display: inline-block;
    /* width: 6em; */
    position: relative;
    top: 1em;
    margin-left: -3em;
}

label {
    display: inline-block;
    /* width: 6em; */
    /* margin-right: -1em; */
    padding-top: 1.5em;
}

.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}